$ball-size: 22px;
$ball-offset: 2px;
$ball-translate: 24px;

.color_mode_switch_input {
  opacity: 0;
  position: absolute;
  display: none !important;

  &:checked+.color_mode_switch_label .ball {
    transform: translateX($ball-translate);
  }
}

.color_mode_switch_label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ball {
    background-color: #fff;
    width: $ball-size;
    height: $ball-size;
    position: absolute;
    left: $ball-offset;
    top: $ball-offset;
    border-radius: 50%;
    transition: transform 0.1s linear;
  }
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

#color_mode_switch_input_id {
  display: none;
}

.aws-badge {
  max-width: 15rem;
}
